a.header__logo(href="#")
	svg.header__logo-icon
		use(xlink:href="@img/icons/icons.svg#logo")
	.header__logo-text Rhythm
.header__menu.menu
	button.menu__icon.icon-menu(type="button" title="menu button")
		span
	nav.menu__body
		ul.menu__list
			li.menu__item
				a.menu__link(href="#store ") Store
			li.menu__item
				a.menu__link(href="#collections") Collections
			li.menu__item
				a.menu__link(href="#support") Support