.hero {
	padding: 40px 0;
	margin-bottom: 40px;

	&__title {
		font-family: var(--slave-font);
		font-size: 46px;
		margin-bottom: 25px;

		@media (min-width:$mobile) {
			font-size: 56px;

		}

		span {
			color: var(--main-color);
		}
	}

	&__text {
		color: var(--slave-color-text);
		font-size: 20px;
		margin-bottom: 30px;

		@media (min-width:$mobile) {
			font-size: 16px;

		}
	}

	&__button-box {
		display: flex;
		align-items: center;
	}

	&__button {
		min-height: 60px;
		background: var(--main-color);
		border-radius: 30px;
		padding: 10px 40px;
		color: var(--light-text);
		font-weight: 600;
		margin-right: 15px;

		@media (min-width:$mobile) {
			margin-right: 40px;
		}
	}

	&__app-link {
		margin-left: 15px;

		@media (min-width:$mobile) {
			margin-left: 20px;

		}
	}

	&__app-icon {
		height: 32px;
		width: 30px;
		fill: #B2B2B2;
	}
}