.hero__title
	|Browse top quality 
	span Guitars 
	| online
h1.hero__text Explore 50k+ latest collections of branded guitars online with Rhythm.

.hero__button-box
	button.hero__button Get the App
	a.hero__app-link(href="#")
		svg.hero__app-icon
			use(xlink:href="@img/icons/icons.svg#play_market")
	a.hero__app-link(href="#")
		svg.hero__app-icon
			use(xlink:href="@img/icons/icons.svg#apple_store")