-var imgs = ["img/brands/brand- (1).png","img/brands/brand- (2).png","img/brands/brand- (3).png","img/brands/brand- (4).png","img/brands/brand- (5).png","img/brands/brand- (6).png","img/brands/brand- (7).png","img/brands/brand- (8).png",]



.brands__title.title Featuring the <span>Best Brands</span>
.brands__wrapper
	each img in imgs
		.brands__box-ibg
			img(src=img, alt="brand logo")