.customer__title.title What our <span>customer’s</span> say
.swiper-pagination
.customer__slider.swiper
	.customer__wrapper.swiper-wrapper
		.customer__slide.swiper-slide
			.customer__slide-img
				.customer__slide-ibg
					img(src="@img/customer/customer-0.jpg", alt="Ryan Wels")
			.customer__slide-content
				.customer__slide-text “The Quality and Delivery is always on time, being a professional guitarist myself I love the customer service the brand provides, highly recommend Rhythm anytime.”
				.customer__slide-name Ryan Wels
				.customer__slide-occupation PROFESSIONAL GUITARIST
		.customer__slide.swiper-slide
			.customer__slide-img
				.customer__slide-ibg
					img(src="@img/customer/customer-1.jpg", alt="Ryan Wels")
			.customer__slide-content
				.customer__slide-text “The Quality and Delivery is always on time, being a professional guitarist myself I love the customer service the brand provides, highly recommend Rhythm anytime.”
				.customer__slide-name Soundtrap
				.customer__slide-occupation PROFESSIONAL GUITARIST
		.customer__slide.swiper-slide
			.customer__slide-img
				.customer__slide-ibg
					img(src="@img/customer/customer-2.jpg", alt="Ryan Wels")
			.customer__slide-content
				.customer__slide-text “The Quality and Delivery is always on time, being a professional guitarist myself I love the customer service the brand provides, highly recommend Rhythm anytime.”
				.customer__slide-name Radu Florin
				.customer__slide-occupation PROFESSIONAL GUITARIST
		.customer__slide.swiper-slide
			.customer__slide-img
				.customer__slide-ibg
					img(src="@img/customer/customer-3.jpg", alt="Ryan Wels")
			.customer__slide-content
				.customer__slide-text “The Quality and Delivery is always on time, being a professional guitarist myself I love the customer service the brand provides, highly recommend Rhythm anytime.”
				.customer__slide-name Jack Sharp
				.customer__slide-occupation PROFESSIONAL GUITARIST